
.o
.pdf
.txt
*.pro.user*
*.qbs.user*
share/translations/master_ru.qm
*/build/*
build/
*~
GeneratedFiles/*
Win32/*
debug/
x64/

build-*
*.o

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

